USE [Pulse360_FinalDb]

/*******************************************************************************/

ALTER proc [dbo].[Adddept]
@name nvarchar(max),
@status nvarchar(max),
@createdby nvarchar(255)
as
begin
	declare @noofemp int;
	select @noofemp =  count(UserID) from [User] u where u.DepartmentId= DepartmentId;
	insert into [Departments] Values(@name,@noofemp,@status,getdate(),@createdby,'','');
end
select * from [Departments];
/*******************************************************************************/

/*drop proc [dbo].[login]
@Email nvarchar(max),
@PasswordHash nvarchar(max)
as
begin
 select * from [User] u where @Email= u.Email AND  @PasswordHash=u.PasswordHash;
end*/
exec [dbo].[login] 'admin@gmail.com' , '123';
/****************************************************************************/
create proc [dbo].[login]
@Email varchar(max),
@PasswordH varchar(max)
as
begin
select U.Email, U.PasswordHash, R.RoleName  from [dbo].[User] U inner join [dbo].[Role] R on U.RoleId = R.RoleId 
where Email = @Email and PasswordHash = @PasswordH;
end

ALTER proc [dbo].[fetchdept]
as
begin
 select * from [Departments];
end 

/****************************************************************************/

ALTER proc [dbo].[fetchstatus]
as 
begin
select * from status;
end


create proc fetchrole
as
begin
select RoleID,RoleName from [Role];
end
select * from [Role];

create proc sp_Role
@rolename nvarchar(max),
@status nvarchar(max),
@role nvarchar(max)
as
begin
insert into [dbo].[Role] values(@rolename,@status,getdate(),@role,'','');
end

create proc sprole
as
begin
select * from [Role];
end

create proc adddesi
@name nvarchar(max),
@status nvarchar(max),
@Role nvarchar(max),
@deptid int
as
begin
insert into [Designations] values(@deptid,@name,'',@status,getdate(),@Role,'','');
end

create proc fetchDesi
as
begin
select * from [Designations];
end

create proc fetchdeptid
@deptname nvarchar(max)
as
begin
 select DepartmentId from [Departments] d where @deptname = d.Name;
end
select DepartmentId from [Departments] d where 'IT' = d.Name;
select * from [Departments];

create proc Deldept
@Name varchar(100)
as 
begin
 DELETE FROM [Departments] WHERE Name=@Name;
end

create proc fuser
as
begin
select * from [User];
end

create proc frole
as
begin
select * from [Role];
end

create proc fdesi
as
begin
select * from [Designations];
end